export("Launch_ppcSpatial")
export("plotCity")
import(dplyr)
import(ggplot2)
import(htmltools)
import(htmlwidgets)
import(leaflet)
import(PakPC2017)
import(scales)
import(shiny)
import(tidyr)
import(tmap)

importFrom("stats", "reorder")
importFrom("magrittr", "%>%")
